body {
    margin: 0;
    padding: 0;
    background-color: rgb(178, 194, 209);
}


.home13 {
    background-color: rgb(178, 194, 209);
    padding-top: 10%;
    padding-bottom: 10%;
    display:flex;
    text-align: center;
    justify-content: center;
}