
body {
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
}
.home6 {
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .home8 {
    
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd; 
  }
  
  .home8 img {
    
    max-width: 100%;
    height: auto;
    border-radius: 8px; 
  }
  
  .home8 p {
    
    margin: 5px 0;
  }

  .home10 {
    display: flex;
    align-items: center;
    justify-content: center;
    
    
  }

  .button {
    
    color: #ddd;
    font-size: small;
    
  }

  .button:hover {
    
    background-color: #b97a7a ;
    color: aqua;
    font-size: medium;

  

  }

  .home11 {
    font-size: small;
    
  }

  .home11:hover {

    font-size: x-large;

  }


  .home12 {
    font-size: small;
    
  }

  .home12:hover {

    font-size:medium;

  }


  
  
  